@charset "utf-8";
$sp: 480px;
@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}

@mixin fontsize($size: 24, $base: 10) {
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}

@mixin section {
    margin-top: 50px;
    @include sp {
        margin-top: 30px;
    }
}

@mixin h-tit {
    font-family: Yu Mincho, 游明朝, Hiragino Mincho Pro, ＭＳ 明朝;
    font-weight: bold;
}

@mixin column_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    @include sp {
        display: block;
    }
}

@mixin column_2 {
    width: 50%;
    margin-right: 2%;
    @include sp {
        width: 100%;
        margin-bottom: 10px;
    }
    &:last-of-type {
        margin-right: 0;
        margin-left: 2%;
        @include sp {
            margin-left: 0;
        }
    }
}

@mixin btn {
    box-shadow: 0 2px rgba(203, 202, 202, 0.66);
    text-align: center;
    padding: 15px 0;
    width: 100%;
    border-radius: 5px;
    color: #444444;
    @include fontsize(10);
    line-height: 20px;
    &:hover {
        opacity: 0.7;
    }
}

img {
    max-width: 100%;
}

h1.info-title {
    @include fontsize(14);
    @include h-tit;
    @include sp {
        @include fontsize(11);
        text-align: center;
    }
}

h2.info-title {
    @include h-tit;
    @include fontsize(14);
    line-height: 40px;
    border-bottom: 1px solid #888888;
    @include sp {
        @include fontsize(10);
        line-height: 30px;
    }
}

img.info-key {
    margin-top: 20px;
}

div.anchor-box {
    margin: 30px 0;
    padding: 10px;
    border-top: solid 1px #7b7a7a;
    border-bottom: solid 1px #7b7a7a;
    display: flex;
    justify-content: space-between;
    @include sp {
        display: block;
        border: none;
    }
    a {
        font-weight: bold;
        width: 100%;
        text-align: center;
        @include sp {
            display: block;
            border-top: solid 1px #7b7a7a;
            line-height: 50px;
            &:last-of-type {
                border-bottom: solid 1px #7b7a7a;
            }
        }
        i {
            margin-right: 2px;
        }
    }
}

section#book {
    @include section;
    section {
        margin-top: 20px;
        h3.title {
            @include fontsize(12);
            font-family: YuGothic, 游ゴシック, sans-serif;
            font-weight: normal;
            @include sp {
                @include fontsize(10);
            }
        }
    }
}

section#review {
    @include section;
    div.column_box {
        @include column_box;
        div.column_2 {
            @include column_2;
            box-shadow: 0 2px rgba(203, 202, 202, 0.66);
            border: 1px solid #eee;
            padding: 20px 2%;
            background-color: #f9f8ec;
            color: #83807a;
            min-height: 400px;
            position: relative;
            @include sp {
                min-height: initial;
                min-height: 250px;
            }
            p.review-title {
                @include fontsize(13);
                font-weight: bold;
                position: relative;
                @include sp {
                    text-align: center;
                    @include fontsize(10);
                }
                &:after {
                    content: "";
                    background: url(../images/special/stamp.png);
                    background-size: 70px 51px;
                    width: 70px;
                    height: 51px;
                    background-repeat: no-repeat;
                    position: absolute;
                    right: 5px;
                    top: -10px;
                    opacity: 0.7;
                }
            }
            p {
                line-height: 30px;
                font-style: italic;
                font-family: Yu Mincho, 游明朝, Hiragino Mincho Pro, ＭＳ 明朝;
            }
            p.name {
                text-align: right;
                position: absolute;
                bottom: 10px;
                right: 20px;
                @include fontsize(12);
                @include sp {
                    @include fontsize(10);
                }
            }
        }
    }
    span {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 15px;
        a.btn {
            margin: 0 auto;
            @include btn;
            display: inline-block;
            width: 70%;
            background: #f6f6f6;
            position: relative;
            &:before {
                content: "\f086";
                font-family: FontAwesome;
            }
            @include sp {
                width: 100%;
            }
        }
    }
}

section#shop {
    @include section;
    div.column_box {
        @include column_box;
        div.column_2 {
            @include column_2;
            dl {
                display: flex;
                border-bottom: 1px solid #aaaaaa;
                padding-bottom: 10px;
                dt {
                    width: 50%;
                    @include sp {
                        width: 30%;
                    }
                }
                dd {
                    width: 50%;
                    @include sp {
                        width: 70%;
                    }
                }
            }
            a.btn {
                background-color: #fbed5e;
                @include btn;
                width: 100%;
                display: inline-block;
                position: relative;
                &:before {
                    content: "\f07a";
                    font-family: FontAwesome;
                }
            }
        }
    }
}

section#author {
    @include section;
    div.column_box {
        @include column_box;
        div.column_2 {
            @include column_2;
            &:first-of-type {
                width: 30%;
                @include sp {
                    width: 100%;
                }
            }
            &:last-of-type {
                width: 70%;
                @include sp {
                    width: 100%;
                }
            }
            img {
                margin: 0 auto;
            }
            div.profile {
                width: 100%;
                display: flex;
                p.name {
                    font-family: Yu Mincho, 游明朝, Hiragino Mincho Pro, ＭＳ 明朝;
                    font-weight: bold;
                    @include fontsize(11);
                    width: 50%;
                    @include sp {
                        @include fontsize (9);
                    }
                }
                ul.sns {
                    width: 50%;
                    display: flex;
                    justify-content: flex-start;
                    padding-top: 5px;
                    li {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    div.movie {
        width: 100%;
        background-color: #eee;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    div.event {
        margin-top: 30px;
        width: 100%;
        background-color: #f9f8f6;
        padding: 20px 3%;
        p.event_title {
            font-weight: bold;
            @include fontsize(10);
            margin-bottom: 0;
            margin-top: 15px;
        }
    }
}

section#relation {
    @include section;
    div.relation-box {
        border: 1px solid #aaaaaa;
        padding: 20px 3%;
        margin-top: 30px;
        margin-bottom: 30px;
        h3.relation-title {
            font-weight: bold;
            @include fontsize(10);
            @include sp {
                text-align: center;
            }
        }
        div.column_box {
            @include column_box;
            div.column_2 {
                @include column_2;
                &:first-of-type {
                    width: 30%;
                    @include sp {
                        width: 100%;
                    }
                }
                &:last-of-type {
                    width: 70%;
                    @include sp {
                        width: 100%;
                    }
                }
                img {
                    @include sp {
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}


/* ★ナビ用仮css設定 */

button.modal-aside {
    display: none;
    @include sp {
        display: block;
    }
}

nav.sp_nav {
    display: none;
}

nav.sp_nav.open.fixed {
    @include sp {
        display: block;
        position: fixed;
        background: rgba(255, 231, 0, 0.75);
        height: 100%;
        bottom: 0;
        left: 0;
        top: 0;
        z-index: 99;
        padding: 15px;
        transform: translate3d(0px, 0px, 250px);
        ul {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 94%;
            background: #fff;
            z-index: 100;
            padding: 15px 25px;
            margin: 3%;
            li a {
                width: 100%;
                border-bottom: 1px solid #e8e8e8;
                font-size: 15px;
                font-weight: bold;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-bottom: 0!important;
                color: #777;
                display: block;
            }
        }
        button.close {
            display: none;
            z-index: 110;
            position: fixed;
            background: #aaa;
            color: #fff;
            width: 50%;
            left: 25%;
            bottom: 40px;
            padding: 5px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 5px;
            overflow: visible;
        }
    }
}
