@charset "utf-8";

/* mixin */

@mixin fontsize($size: 24, $base: 10) {
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}

@mixin line-height($size: 24, $base: 10) {
    line-height: $size + px;
    line-height: ($size / $base) * 1rem;
}

@mixin title {
    color: 434343;
    font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "Yu Mincho", "YuMincho";
    text-align: center;
    font-weight: normal;
}

@mixin sub_title {
    color: 434343;
    @include fontsize(11);
    font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "Yu Mincho", "YuMincho";
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: normal;
}

@mixin column_box {
    width: 100%;
    display: flex;
}


/* top_base */

* {
    box-sizing: border-box;
}

img {
    width: auto;
}

body {
    background-image: none;
}

div#wrapper {
    width: 100%;
    margin: 0;
    header {
        height: 80px;
        width: 100%;
        margin: 0 auto;
        position: fixed;
        background-color: #ffffff;
        border-style: solid;
        border-width: 5px 0px 0px;
        border-image: url(/images/bg.png) 8 0 0 repeat;
        box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.1);
        transform: translate3d(0px, 0px, 250px);
        z-index: 10;
        section.header_inner {
            width: 1170px;
            margin: 0 auto;
            letter-spacing: -0.4em;
            h1 {
                display: inline-block;
                padding-left: 0;
                padding-top: 0;
                width: 13%;
                letter-spacing: normal;
                position: relative;
                img {
                    position: absolute;
                    top: -28px;
                    left: 3%;
                }
            }
            nav {
                width: 87%;
                display: inline-block;
                font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "Yu Mincho", "YuMincho";
                letter-spacing: normal;
                a:hover {
                    background: none;
                }
                ul {
                    display: flex;
                    justify-content: space-between;
                    padding-left: 10%;
                    height: 75px;
                    li {
                        padding-right: 6%;
                        display: flex;
                        align-items: center;
                        &:last-of-type {
                            padding-right: 0;
                        }
                        a {
                            border: none;
                            padding-top: 0;
                            padding-bottom: 0;
                            padding-right: 10px;
                            position: relative;
                            &:after {
                                content: "";
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                border-bottom: 1px rgba(28, 130, 217, 0.64) solid;
                                display: block;
                                transition: all .3s ease;
                                -webkit-transition: all .3s ease;
                                width: 0;
                            }
                            &:hover {
                                &:after {
                                    width: 100%;
                                }
                            }
                            &:before {
                                content: '';
                                display: inline-block;
                                width: 30px;
                                height: 30px;
                                background-image: url(/images/top/icon.png);
                                background-repeat: no-repeat;
                                background-size: contain;
                                vertical-align: middle;
                                position: relative;
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    section {
        main {
            width: 1170px;
            margin: 0 auto;
            float: none;
            article {
                section.books {
                    width: 100%;
                    margin-top: 120px;
                    h2 {
                        @include title;
                        letter-spacing: 1rem;
                        @include fontsize(20);
                    }
                    p.sub_title {
                        @include title;
                        margin-top: 10px;
                        letter-spacing: 0.07rem;
                    }
                    div.cover {
                        div.prev {
                            background-color: #fff!important;
                            opacity: 0.7;
                            @include fontsize(15);
                            position: absolute;
                            top: 200px;
                            z-index: 100;
                            width: 50px;
                            height: 50px;
                            text-align: center;
                            border-radius: 50%;
                            cursor: pointer;
                            padding: 3px 4px 0 0;
                            color: #939393;
                            &:hover {
                                opacity: 0.5;
                            }
                        }
                        div.next {
                            @extend div.prev;
                            right: 0;
                            padding: 3px 0 0 4px;
                        }
                    }
                }
                section {
                    margin-top: 100px;
                    h2 {
                        @include title;
                        letter-spacing: 1rem;
                        @include fontsize(20);
                    }
                    p.sub_title {
                        @include title;
                        margin-top: 10px;
                        letter-spacing: 0.07rem;
                    }
                    div.column_box {
                        @include column_box;
                        justify-content: space-between;
                        div.column_3 {
                            width: 33%;
                            box-shadow: 0 0 3px #edecec;
                            &:last-of-type {
                                padding-right: 0;
                            }
                            img {
                                margin: 0 auto;
                                margin-bottom: 20px;
                            }
                            div.text_box {
                                width: 100%;
                                padding: 0 2%;
                                color: #555;
                                p.name_sub {
                                    @include title;
                                    margin-bottom: 0;
                                }
                                p.name {
                                    @include title;
                                    @include fontsize(15);
                                    @include line-height(20);
                                    min-height: 65px;
                                }
                            }
                        }
                    }
                    div#media_list ul.column_box {
                        li.column_4 {
                            width: 23%;
                            margin: 0 1% 1%;
                            div.media_info h3 {
                                font-weight: normal;
                                @include fontsize(10);
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
    padding-top: 40px;
    background-image: url(/images/bg.png)!important;
}

button.modal-aside {
    display: none;
}

nav.sp_nav {
    display: none;
}
