@charset "utf-8";

/* mixin */

@mixin fontsize($size: 24, $base: 10) {
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}

@mixin line-height($size: 24, $base: 10) {
    line-height: $size + px;
    line-height: ($size / $base) * 1rem;
}

img {
    width: 100%;
}

div#wrapper {
    header {
        position: static;
        height: 70px;
        box-shadow: none;
        section.header_inner {
            width: 100%!important;
            nav {
                display: none!important;
            }
            h1 {
                margin-top: 20px;
                width: 100%;
                img {
                    position: inherit;
                    width: 100px!important;
                    height: inherit;
                    margin: 0 auto;
                }
            }
        }
    }
    section.container {
        width: 100%!important;
        main {
            width: 100%!important;
            article {
                section {
                    margin-top: 30px;
                    h2 {
                        @include fontsize(11);
                        letter-spacing: 0.5rem;
                    }
                    p.sub_title {
                        @include fontsize(08);
                        letter-spacing: 0.1rem;
                    }
                    div.cover {
                        div.prev {
                            display: none!important;
                        }
                        div.next {
                            @extend div.prev;
                        }
                    }
                    div.column_box {
                        display: block!important;
                        div.column_3 {
                            width: 100%!important;
                            box-shadow: 0 0 0;
                            margin-bottom: 50px;
                            img {
                                width: 100%;
                            }
                            div.text_box p.name {
                                min-height: auto!important;
                                @include fontsize(13);
                            }
                        }
                    }
                    div#media_list ul.column_box {
                        li.column_4 {
                            width: 48%;
                            margin-bottom: 0;
                            a div.media_info h3 {
                                @include fontsize(9);
                            }
                        }
                    }
                }
            }
        }
    }
    div.container {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        ul li {
            float: none;
            width: 80%;
            margin-right: 10%;
            margin-left: 10%;
            &:first-of-type {
                margin-bottom: 10px;
            }
        }
        div.link_contact {
            float: none;
            width: 100%;
            h2 {
                text-align: center;
            }
            p.mt-medium a img {
                width: auto;
                display: inline-block;
            }
        }
        div.link_facebook {
            float: none;
            width: 100%;
            margin-left: 0!important;
        }
    }
}

footer {
    padding-top: 10px;
    div.container {
        display: none;
    }
    small {
        margin-top: 13px;
    }
}

button.modal-aside {
    display: block;
    padding: 0;
    position: fixed;
    right: 0;
    z-index: 200;
    bottom: 40px;
    background: transparent;
}

nav.sp_nav {
    position: relative;
    width: 100%;
    display: none;
}

nav.sp_nav.open.fixed {
    display: block;
    position: fixed;
    background: rgba(255, 231, 0, 0.75);
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: 99;
    padding: 15px;
    transform: translate3d(0px, 0px, 250px);
    ul {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 94%;
        background: #fff;
        z-index: 100;
        padding: 15px 25px;
        margin: 3%;
        li a {
            width: 100%;
            border-bottom: 1px solid #e8e8e8;
            font-size: 15px;
            font-weight: bold;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 0!important;
            color: #777;
            display: block;
        }
    }
    button.close {
        display: none;
        z-index: 110;
        position: fixed;
        background: #aaa;
        color: #fff;
        width: 50%;
        left: 25%;
        bottom: 40px;
        padding: 5px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 5px;
        overflow: visible;
    }
}
